{% extends 'base.html.twig' %}

{% block title %}Edit ResponsableAteliers{% endblock %}

{% block body %}
    <h1>Edit ResponsableAteliers</h1>

    {{ include('responsable_ateliers/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_responsable_ateliers_index') }}">back to list</a>

    {{ include('responsable_ateliers/_delete_form.html.twig') }}
{% endblock %}
