{% block body %}
    <h1> Client </h1>

     <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
            </tr>

         </thead>
        
        <tbody>
                {% for client in clients %}
                    <tr>
                        <td>{{client.id}}</td>
                        <td>{{client.nom}}</td>
                        <td>{{client.prenom}}</td>
                    </tr>
                {% endfor %}



        </tbody>

{% endblock %}